{% include 'magasin/base.html' %}
{% load static%}
{% block content %}


<form method='POST' class="post-form">
{% csrf_token %}
{% if user.is_superuser %}
<div class="album py-5 bg-light">
  <div class="container">
    <button type="button" class="btn btn-sm btn-outline-success" ><a href="{% url 'AddProd' %}" class="btn btn-default">Ajouter Article</a></button>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for article in list %}
      <div class="col"> 
        <div class="card shadow-sm">
          <img src='/media/{{ article.img }}' class="card-img-top" height="200px"  width="200px">
          <div class="card-body">
            <figcaption class="figure-caption"> 
              {{article.libellé}} 
               </figcaption>
               <p> {{article.description}} </p>
               <p> {{article.prix}} DT. </p>           
                <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'detail' article.id %}" class="btn btn-default">View</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'EditProd' article.id %}" class="btn btn-default">Edit</a></button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-danger"><a href="{% url 'DeleteProd' article.id %}" class="btn btn-default">Delete</a></button>
              <button class="btn btn-primary"><a href="{% url 'Commande'  %}">Ajouter au panier</a></button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% else %}
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for article in list %}
            <div class="col ">
              <div class="card shadow-sm">
                <img src='/media/{{ article.img }}' class="card-img-top" height="200px"  width="200px">
                <div class="card-body">
                  <figcaption class="figure-caption"> 
                    {{article.libellé}} 
                     </figcaption>
                     <p> {{article.description}} </p>
                     <p> {{article.prix}} DT. </p>           
                      <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-info"><a href="{% url 'detail' article.id %}" class="btn btn-default">View</a></button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
